.container {
    height: 100vh;
}

.ms_image_wrapper, .ms_preview_wrapper {
    position: relative;
}

.ms_description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.ms_image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item {
    display: none;
    width: 100%;
    height: 615px;
}

.active {
    display: block;
}

.ms_preview_wrapper img {
    width: 100%;
}

.ms_preview_wrapper_buttons {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
}

.ms_preview_wrapper_buttons i {
    color: white;
}

.ms_border_active {
    border: 3px solid black;
}

.ms_title_not_active, .ms_text_not_active {
    display: none;
}

.ms_active_title, .ms_active_text {
    display: block;
}